/* title */

/* up button */
b.up
{
cursor: pointer;
float: right;
}
b.up:hover {color: #ffc741;}

/* down button */
b.down
{
cursor: pointer;
float: right;
}
b.down:hover {color: #ffc741;}

/* shows the rank of the element */
font.rankDisp
{
position: absolute;
color: #ffc741;
}

/* Container div for Rank, HTML form rank selector */
.rankContainer
{
position: relative;
width: 30%; height: auto;
border: 1px black solid;
padding: 8px;
}

/* Rankable element div for Rank, HTML form rank  */
.rankElement
{
position: relative;
width: 30%; height: auto;
margin: 3px;
padding: 3px;
background: black;
color: white;
}

